html {
  font-size: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-bottom: 5rem;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.9rem;
}

.product-item {
  max-width: 300px;
  box-shadow: 0px 9px 11px 6px rgb(0 0 0 / 25%);
}

.product-infos {
  padding: 0.8rem;

  & > h2 {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    word-wrap: break-word;
  }

  & > h3 {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
}
